* {
    margin: 0;
    padding: 0;
}

/* Header Start */

header {
    background-color: #8DC6CD;
    padding-top: 105px;
    padding-bottom: 200px;
}

header>section {
    background-color: #FFFFFF;
    width: 60%;
    margin: auto;
    padding: 0px 70px;
}

header>section>h3 {
    padding-top: 55px;
    color: #6B7B8A;
    font-size: 2.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
    font-weight: 545;
}

header>section>h5 {
    color: #6B7B8A;
    font-size: 1.25em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 55px;
    font-weight: 200;
}

header .blank {
    text-align: left;
    width: 100%;
    margin: auto;
}

.blank label {
    color: #6B7B8A;
    font-size: 2.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

.blank input {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border: 2px solid #C6E2E6;
    border-radius: 5px;
    margin-bottom: 50px;
    font-size: 2.1em;
    text-align: left;
    color: #B0BEC4;
    display: inline-block;
}

.blank input:hover {
    border: 2px solid #C6E2E6;
    background-color: #EDF8F7;
}

.blank input:focus {
    border: 2px solid #C6E2E6;
}

#password,
#conpassword {
    margin-right: 15px;
}

.blank .subsection {
    width: 100%;
    margin: auto;
    display: flex;
    /* justify-content: center; */
    padding-bottom: 45px;
}

.subsection label {
    color: #6B7B8A;
    font-size: 0.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.subsection span {
    color: #8DC6CD;
}

.subsection .s-1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: -40px;
}

.subsection .s-2 {
    width: 20%;
    margin: auto;
    justify-content: right;
}

.subsection input {
    width: 15%;
    margin: auto;
    transform: scale(2,2);
    margin: 0;
    padding: 0;
    display: inline-block;
    border: 0;
    background-color: #E3E3E3;
}

.subsection button {
    color: white;
    background-color: #DD4444;
    font-size: 1.5em;
    padding: 25px 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

/* 
input:focus{
    border-bottom: 6px solid deepskyblue;
    transition: border-bottom 0.5s;
}
input:invalid{
    border-bottom: 6px solid red;
    transition: border-bottom 0.5s;
}
input:valid{
    border-bottom: 6px solid springgreen;
    transition: border-bottom 0.5s;
} */

/* Header End */


